@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
    height: 100vh;
    width: 100vw;
    background-image: url("background.jpg");
    background-position: center;
    min-width: 600px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#headpage {
    background-color: #2e68cc;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    color: white;
    font-size: 3em;
    font-family: "Oswald";
}

#verifytext {
    text-align: center;
    background-color: #db7c3d;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    margin-top: 50px;
    padding: 10px;
}

.mail-pocket {
    width: 0;
    height: 0;
    border-top: 150px solid #ffb246;
    border-left: 300px solid #ff9e33;
    border-bottom: 150px solid #ffb246;
    border-right: 300px solid #ff9e33;
}
.mail-open {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-bottom: 150px solid #ff9e33;
    border-right: 300px solid transparent;
    position: relative;
}

#mailbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

#papermessage {
    width: 300px;
    background-color: white;
    position: absolute;
    bottom: -150px;
    left: -170px;
    text-align: center;
    padding: 20px;
}

#code {
    background-color: rgb(190, 182, 182);
    color: white;
    font-size: 1.5em;
    padding: 2px;
}
